.header{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(#08003ab3, #08003ab3), url(../../assets/universityBackground.png);
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .text {
    width: 50%;

text-align: center;
}
.text h1{
    font-size: 50px;
}
@media (max-width: 767px){
    .text h1 {
        font-size: 25px;
    }
}